<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
<link href="/less/bootstrap.less" rel="stylesheet/less" />
<script src="/js/less.js"></script>
 
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
<div class="container">
    <div class="row">
        <div class="span12">
            {% block navigation %}
                       <ul class="nav nav-pills">
<li class="active">
<a href="#">Home</a>
</li>
    <li class="dropdown"> <a class="dropdown-toggle"  data-toggle="dropdown"  href="#">    Dropdown    <b class="caret"></b>    </a>
    <ul class="dropdown-menu">
    <!-- links -->
    </ul>
    </li>
    </ul>
             {% endblock %}
        </div>
    </div>   
    <div class="row">
        <div class="span8">{% block body %}{% endblock %}</div>
        <div class="span4">{% block sidebar %}{% endblock %}</div>
    </div>
    <div class="row">
        <div class="span12">
        {% block footer %}
                    Symfony2 blog tutorial - created by <a href="https://github.com/dsyph3r">dsyph3r</a>
         {% endblock %}
        </div>
    </div>  

 </div> 
  
        {% block javascripts %}{% endblock %}
    </body>
</html>

